<!-- START CONTENT INNER -->
<div class="map-controls">
  <div class="pull-left">
    <div class="btn-group btn-group-vertical" data-toggle="buttons-radio">
      <button id="map-zoom-in" class="btn btn-success btn-xs"><i class="fa fa-plus"></i>
      </button>
      <button id="map-zoom-out" class="btn btn-success btn-xs"><i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
</div>
<div class="map-container full-width full-height">
  <!-- Map -->
  <sebm-google-map class="full-width full-height"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapClick)="mapClicked($event)">

    <sebm-google-map-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">

      <sebm-google-map-info-window>
        <strong>InfoWindow content</strong>
      </sebm-google-map-info-window>

    </sebm-google-map-marker>

  </sebm-google-map>
</div>
<!-- END CONTENT INNER -->
